@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	@font-face {
		font-family: 'Patrick Hand', cursive;
	}

	main {
		display: grid;
		width: 100%;
		margin: 0 auto;
	}

	h1 {
		font-size: 2.8rem;
		font-weight: 500;
	}

	h2 {
		font-size: 2rem;
		font-weight: 500;
	}

	h3 {
		font-size: 1.4rem;
		font-weight: 500;
	}

	h4 {
		font-size: 1.2rem;
		font-weight: 400;
	}

	p {
		font-size: 1.1rem;
		line-height: 2rem;
	}

	section {
		display: grid;
		place-items: center;
		padding-top: 8rem;
		padding-bottom: 2rem;
		padding-inline: 4rem;
	}

	#knap {
		text-align: center;
		color: white;
		font-weight: 500;
		color: white;
		background-color: #80b103;
		padding-inline: 1.5rem;
		padding-block: 0.75rem;
		border-radius: 25px;
		transition: linear 0.5s;
		/* box-shadow: 3px 3px 4px rgb(59, 59, 59); */
	}
	#knap:hover {
		background-color: #648807;
		text-decoration: underline;
	}

	a:hover {
		text-decoration: underline;
	}
}
